[Unit]
Description= Building VirtualBox kernel modules at startup
Before=vboxdrv.service

[Service]
Type=simple
ExecStart=/usr/libexec/nethserver/vboxdrv-CompileModule

[Install]
WantedBy=multi-user.target
